@font-face {
	font-family: 'LearningCurveProRegular';
	src: url('fonts/learningcurvepro/LearningCurve_OT-webfont.eot');
	src: url('fonts/learningcurvepro/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/learningcurvepro/LearningCurve_OT-webfont.woff') format('woff'),
		 url('fonts/learningcurvepro/LearningCurve_OT-webfont.ttf') format('truetype'),
		 url('fonts/learningcurvepro/LearningCurve_OT-webfont.svg#LearningCurveProRegular') format('svg');
}

@font-face {
    font-family: 'amerikaregular';
    src: url('fonts/amerika/AMERIKA_-webfont.eot');
    src: url('fonts/amerika/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amerika/AMERIKA_-webfont.woff') format('woff'),
         url('fonts/amerika/AMERIKA_-webfont.ttf') format('truetype'),
         url('fonts/amerika/AMERIKA_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'Calibri', serif;
	text-align: center;
	font-size: 400%;
	text-shadow: 4px 4px 4px black;
	color: #6699DD;
}

h4 {
	margin-top: 5%;
	font-family: 'LearningCurveProRegular', Arial, serif;
	text-align: center;
	font-size: 400%;
	text-shadow: 4px 4px 4px black;
}

h2 {
	text-align: center;
	border: 5px green inset;
	border-radius: 10px;
	background-color: #A5FF4B;
	opacity: 0.7;
	font-family: 'Calibri', serif;
	font-size: 300%;
	text-shadow: 4px 4px 4px black;
	color: blue;
}

ul
{
	margin-left: 5%;
	text-align: justify;
	color: #000000;
	font-size: 100%;
}

body
{
	font-family: Verdana, serif;
	color: #5DC5E8;
	background: url("images/cou.jpg");
	background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top left; /* Le fond sera placé en haut à droite */
}

.photo_cv
{
	float: right;
}

.frise
{
	float: left;
	border-radius: 10px;
}

#conteneur
{
	display: flex;
}